.test-component {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid black;
    width: 1000px;
    height: 1000px;
    text-align: center;
    overflow: hidden;
    position: absolute;
    
    .heading {
        font-size: 50px;
    }

    &.test-component-secondary {
        background-color: black;
        color: white;
    }
}

.eren {
    z-index: -10;
    color: purple;
    user-select: none;
}
svg {
    display: block;
    overflow: visible;

    .path_inline {
        transition: stroke .5s;
    }

    .path_outline {

        &:hover {
        + .path_inline {
            stroke-dasharray: 5;
            stroke-dashoffset: 0;
            animation: dash 2s linear infinite;
            stroke: rgb(195, 0, 255);

            }

        }

    }

    .path_inline:hover {
        stroke-dasharray: 5;
        stroke-dashoffset: 0;
        animation: dash 2s linear infinite;
        stroke: rgb(195, 0, 255);
    }
    
    @keyframes dash {
      from {
        stroke-dashoffset: 100;
      }
      to {
        stroke-dashoffset: 0;
      }
    }
  }